<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>


</div>
<div class="col-8">
    <input type="text" id="genre" onkeyup="myFunctionGenre()" placeholder="Search by genre" title="Type in a genre">
    <input type="text" id="director" onkeyup="myFunctiondDrector()" placeholder="Search by director"
           title="Type in a director">
    <input type="text" id="date" onkeyup="myFunctionDate()" placeholder="Search for by date"
           title="Type in a director">
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th onclick="sortTable(0)" scope="col">id</th>
            <th onclick="sortTable(1)" scope="col">name</th>
            <th onclick="sortTable(2)" scope="col">genre</th>
            <th onclick="sortTable(3)" scope="col">director</th>
            <th onclick="sortTable(4)" scope="col">date of publication</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody th:if="${!movies.isEmpty()}">
        <tr th:each="c : ${movies}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.genre}"></td>
            <td th:text="${c.director}"></td>
            <td th:text="${c.dateTime}"></td>
            <td>
                <a class="btn btn-primary mr-2"
                   th:href="@{/showMovie/{id}(id=${c.id})}">details</a>
                <a class="btn btn-primary mr-2"
                   th:href="@{/updateMovie/{id}(id=${c.id})}">update</a>
                <a class="btn btn-danger mr-2"
                   th:href="@{/deleteMovie/{id}(id=${c.id})}">delete</a>
            </td>
            <!--            <td>
                            <a class="btn btn-danger mr-2"
                               onclick="return confirm('UWAGA! usuwasz stolik. Czy chcesz kontynuować?');"
                               th:href="@{/customer/remove/{id}(id=${c.id})}">usuń</a>
                        </td>-->
        </tr>
        </tbody>
    </table>
    <script>
        function myFunctionGenre() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("genre");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctiondDrector() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("director");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function myFunctionDate() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("date");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[4];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <a class="btn btn-primary" href="/">Main Page</a>
    <a class="btn btn-secondary" href="/addMultimedia">Add movie</a>
   <!-- <a class="btn btn-warning" href="/sortByName">sort by name</a>-->

</div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>