<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-9">

            <div class="list-group">
                <a href="/showMovies" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Movies</h5>
                        <small class="text-muted">all</small>
                    </div>
                    <p class="mb-1">Show all movies</p>
                    <small>show details</small>
                </a>
                <a href="/suggestedContent" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Suggested content</h5>
                        <small class="text-muted">all</small>
                    </div>
                    <p class="mb-1">Show suggested content</p>
                </a>
                <a href="/watchList" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">WatchList</h5>
                        <small class="text-muted">all</small>
                    </div>
                    <p class="mb-1">Show your watchList</p>
                </a>
                <a href="/admin/registration" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">register</h5>
                        <small class="text-muted">admin</small>
                    </div>
                    <p class="mb-1">register new admin</p>
                </a>
            </div>
        </div>
        <div class="col-2">
            logged in as: <p th:text="${user}"></p>
        </div>
        <div>
            <form th:action="@{/app-logout}" method="post">
                <input class="btn btn-danger" type="submit" value="Log out" />
            </form>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>